.full {
    background: url("../images/about.jpg") no-repeat center center fixed;
    /*https://static1.squarespace.com/static/5567c840e4b051803a28cae0/t/55da6aa1e4b02dba440660b6/1440377508280/?format=1500w*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}