<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
    <head>
        <title th:text="#{view.index.title.about}">Welcome!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
        <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
        <link href="../../static/css/bootstrap-social.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-social.css}" />
        <link href="../../static/css/bootstrap-social.less" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-social.less}" />
        <link href="../../static/css/docs.css" rel="stylesheet" media="screen" th:href="@{/css/docs.css}" />
        <link href="../../static/css/account.css" rel="stylesheet" media="screen" th:href="@{/css/account.css}" />
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

        <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="../../static/js/docs.js" th:src="@{/js/docs.js}"></script>
        <script src="../../static/js/account.js" th:src="@{/js/account.js}"></script>
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <div class="well profile">
                        <div class="col-sm-12">

                            <div class="col-xs-12 col-sm-8">
                                <h2 th:text="${user.getName()}" >User Name</h2>
                                <p><strong>About: </strong>
                                    <input type="text" th:value="${user.getAbout()}" class="form-control" th:disabled="${user.getUsername() != #authentication.getName()}" id="usr">
                                </p>
                            </div>

                            <!--<form th:action="@{/account/}+${user.getId()}+@{/update}" th:object="${user}" th:method="PUT">-->
                                <!--<input type="text" th:field="${user.about}" />-->
                                <!--<button type="submit">Update</button>-->
                            <!--</form>-->

                            <div class="col-xs-12 col-sm-4 text-center">
                                <figure>
                                    <img th:src="${user.getProfilePicture()}"  alt="" class="img-circle img-responsive">
                                    <figcaption class="ratings">
                                        <p>Ratings
                                            <a href="#">
                                                <span class="fa fa-star"></span>
                                            </a>
                                            <a href="#">
                                                <span class="fa fa-star"></span>
                                            </a>
                                            <a href="#">
                                                <span class="fa fa-star"></span>
                                            </a>
                                            <a href="#">
                                                <span class="fa fa-star"></span>
                                            </a>
                                            <a href="#">
                                                <span class="fa fa-star-o"></span>
                                            </a>
                                        </p>
                                        <div th:if="${user.getUsername() != #authentication.getName() }" class="btn-group btn-block">
                                            <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-cog"></span>
                                                <span th:if="${!following}" >Follow</span>
                                                <span th:if="${following}" >Unfollow</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">

                                                <li th:if="${!following}" >
                                                    <a th:href="@{/account/}+${user.getId()}+@{/follow}"><span class="glyphicon glyphicon-user"></span> Follow </a>
                                                </li>

                                                <li th:if="${following}" >
                                                    <a th:href="@{/account/}+${user.getId()}+@{/unfollow}"><span class="glyphicon glyphicon-user"></span> Unfollow </a>
                                                </li>

                                                <li class="divider"></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Block </a></li>
                                            </ul>
                                        </div>

                                        <div th:if="${user.getUsername() == #authentication.getName() }" class="btn-group btn-block">
                                            <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-user"></span>
                                                <span>Settings</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">

                                                <li class="">
                                                    <a th:href="@{/}"><span class="glyphicon glyphicon-saved"></span> Save </a>
                                                </li>
                                                <li class="divider"></li>

                                                <li class="">
                                                    <a th:href="@{/}">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        <span class="" >Deactivate</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 divider text-center">
                            <div class="col-xs-12 col-sm-3 emphasis">
                                <h2><strong th:text="${user.getMyPages().size()}"></strong></h2>
                                <p><small>Pages</small></p>
                            </div>

                            <div class="col-xs-12 col-sm-3 emphasis">
                                <h2><strong th:text="${user.getMyLikes().size()}"></strong></h2>
                                <p><small>Likes</small></p>
                            </div>

                            <div class="col-xs-12 col-sm-3 emphasis">
                                <h2><strong th:text="${user.getMyFollowers().size()}" ></strong></h2>
                                <p><small>Followers</small></p>
                            </div>

                            <div class="col-xs-12 col-sm-3 emphasis">
                                <h2><strong th:text="${user.getMyFollowing().size()}"></strong></h2>
                                <p><small>Following</small></p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li th:classappend="${tab == 'all' ? 'active' : ''}"><a th:href="@{/account/}+${user.getId()}">All</a></li>
                        <li th:classappend="${tab == 'pages' ? 'active' : ''}"><a th:href="@{/account/}+${user.getId()}+@{/pages}">Pages</a></li>
                        <li th:classappend="${tab == 'likes' ? 'active' : ''}"><a th:href="@{/account/}+${user.getId()}+@{/likes}">Likes</a></li>
                        <li th:classappend="${tab == 'followers' ? 'active' : ''}"><a th:href="@{/account/}+${user.getId()}+@{/followers}">Followers</a></li>
                        <li th:classappend="${tab == 'following' ? 'active' : ''}"><a th:href="@{/account/}+${user.getId()}+@{/following}">Following</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /.row -->

            <hr>

            <div th:classappend="${ (tab == 'pages' || tab == 'likes') ? '' : 'hidden' }" th:each="u : ${ tab == 'pages' ? user.getMyPages() : user.getMyLikes() }">
                <div th:replace="fragments/components :: pageListItem"></div>
            </div>

            <div th:classappend="${ (tab == 'following' || tab == 'followers') ? '' : 'hidden' }">
                <div th:replace="fragments/components :: usersList"></div>
            </div>
            <hr>
            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

            <div th:replace="fragments/layout :: footer"></div>
        </div>
    </body>
</html>