<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title.about}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <link href="../../static/css/bootstrap-social.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-social.css}" />
    <link href="../../static/css/bootstrap-social.less" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-social.less}" />
    <link href="../../static/css/docs.css" rel="stylesheet" media="screen" th:href="@{/css/docs.css}" />
    <link href="../../static/css/account.css" rel="stylesheet" media="screen" th:href="@{/css/account.css}" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

    <!--<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>-->

    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/docs.js" th:src="@{/js/docs.js}"></script>
    <script src="../../static/js/account.js" th:src="@{/js/account.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>

<style>
    .lr-sticky-header {
        color: white;
        background: lightblue;
        transition: all 0.6s;
    }
    #scrollPanel {
        height: 500px;
        overflow-y: auto;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">stick me please !!!!</h2>
            <div id="scrollPanel">
                <table class="table table-bordered">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <th class="headerSort headerSortDown" tabindex="0" role="columnheader button" title="Sort descending">Name
                            </th>


                            <button class="btn"> Sort me </button>
                            <br>
                            <button class="btn"> Sort me another way </button>
                            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Name</th>
                            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Number of Followers</th>
                            <th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Number of Pages</th>
                            <th width="120" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending"><span class="nowrap">ISO 3166-2</span>
                            </th>
                            <th class="" title="">Notes</th>
                        </tr>

                        <tr th:each="u : ${users}">
                            <td ><span style="font-family: monospace, monospace;" th:utext="${u.getUsername()}" ></span></td>
                            <td ><span style="font-family: monospace, monospace;" th:utext="${u.getMyFollowers().size()}" ></span></td>
                            <td><a href="/wiki/United_Arab_Emirates" title="United Arab Emirates">United Arab Emirates</a></td>
                            <td>1974</td>
                            <td><a href="/wiki/.ae" title=".ae">.ae</a></td>
                            <td><span class="nowrap"><a href="/wiki/ISO_3166-2:AE" title="ISO 3166-2:AE">ISO 3166-2:AE</a></span></td>
                            <td></td>
                        </tr>

                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>


    <script src="../../static/js/lrStickyHeader.js" th:src="@{/js/lrStickyHeader.js}"></script>
    <script>
        var tables = document.getElementsByTagName('table');
        console.log(tables);
        lrStickyHeader(tables[0], {parent: document.getElementById('scrollPanel')});
    </script>


</div>

<div th:replace="fragments/layout :: footer"></div>
</body>
</html>