<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title.about}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <link href="../../static/css/bootstrap-social.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-social.css}" />
    <link href="../../static/css/bootstrap-social.less" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-social.less}" />
    <link href="../../static/css/docs.css" rel="stylesheet" media="screen" th:href="@{/css/docs.css}" />
    <link href="../../static/css/account.css" rel="stylesheet" media="screen" th:href="@{/css/account.css}" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/docs.js" th:src="@{/js/docs.js}"></script>
    <script src="../../static/js/account.js" th:src="@{/js/account.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>



    <ul class="list-group" th:each="u : ${users}" >
        <li>
            <div class="list-group-item justify-content-between">
                <div class="media">
                    <a class="pull-left" href="#">
                        <!--<img class="media-object" src="http://placekitten.com/150/150">-->
                        <div id="carousel-1" class="carousel slide slide-carousel" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                <li data-target="#carousel-1" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://lorempixel.com/150/150?rand=1" alt="Image">
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/150/150?rand=2" alt="Image">
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/150/150?rand=3" alt="Image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="media-body">
                        <div class="media-heading">
                            <div class="testimonials">
                                <div class="active item">
                                    <div class="carousel-info">
                                        <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                                        <div class="pull-left">
                                            <span class="testimonials-name">Lina Mars</span>
                                            <span class="testimonials-post">Commercial Director</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<p class="text-right">By Francisco</p>-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                            Aliquam in felis sit amet augue.</p>
                    </div>
                    <hr>
                    <div class="slide-footer">
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                            <li>|</li>
                            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                            <li>|</li>
                            <li>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </li>
                            <li>|</li>
                            <li>
                                <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                <span><i class="fa fa-facebook-square"></i></span>
                                <span><i class="fa fa-twitter-square"></i></span>
                                <span><i class="fa fa-google-plus-square"></i></span>
                            </li>
                            <li>
                                <span class="label label-default">Welcome</span> <span class="label label-default">Updates</span> <span class="label label-default">July</span>
                            </li>

                            <span class="pull-right buttons">
                                        <button class="btn btn-sm btn-default"><i class="fa fa-eye"></i> View</button>
                                        <button class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>
                                    </span>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>

<div th:replace="fragments/layout :: footer"></div>
</body>
</html>